.ui-search {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 0;
  padding: 0;
  border: none;
  border-radius: 0;
}

.ui-search svg {
  position: absolute;
  left: 10px;
  color: var(--text-faint);
  pointer-events: none;
}

.ui-search input {
  width: 200px;
  padding: 6px 12px 6px 30px;
  font-family: 'Geist', sans-serif;
  font-weight: 600;
  font-size: .8rem;
  color: var(--text-soft);
  background: var(--b10);
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
  min-width: 0;
  transition: width .2s, border-color .2s;
}

.ui-search input::placeholder {
  color: var(--text-faint);
}

.ui-search input:focus {
  border-color: var(--b10);
  width: 250px;
}
