@import 'tailwindcss';
@import 'fumadocs-ui/css/dusk.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --fd-layout-width: 95vw;
}

@theme {
  --color-fd-primary: hsl(0, 93%, 26%);
}
  
.dark {
  --color-fd-primary: hsl(0, 93%, 71%);
}

.prose a {
  text-decoration: none;
}