@import 'tailwindcss';
@import 'fumadocs-ui/css/dusk.css';
@import 'fumadocs-ui/css/preset.css';

:root {
  --fd-layout-width: 100vw;
}

#nd-sidebar {
  width: 325px !important;
  min-width: 325px !important;
}

#nd-sidebar > * {
  width: 325px !important; 
}

@theme {
  --color-fd-primary: hsl(0, 93%, 24%);
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}
  
.dark {
  --color-fd-primary: hsl(0, 93%, 69%); 
  --color-fd-background: hsl(250, 20%, 4%);
}

.dark #nd-sidebar {
  background-color: hsl(250 20% 3%);
}

.prose a {
  text-decoration: none;
}