.social {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    color: hsl(220, 10%, 60%);
    text-decoration: none;
    transition: color .2s, background .2s;
    border-radius: 6px;
}

.social-link:hover {
    color: var(--w);
    background: hsla(220, 20%, 100%, .06);
}

.social-icon {
    width: 21px;
    height: 21px;
}